<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add item to todo list</title>
</head>
<body>
    <h1>Add a new to Do ITEM</h1>

    <form method="POST" action="add">    <!--- action is url its gettign sent to via urls.py which inturn points to a function wothon views.py "add_item" which then does x,y and z and returns a web page-->
        {% csrf_token %}                  <!-- DJANGO Specific and is required for forms when we POST-->
        {{ form.as_p }}                          <!-- using the DJANGO forms   .as_p put it into a paragraph -->
        <div>
            <p>
                <button type="submit">Add Item</button>
            </p>
        </div>
    </form>
   
</body>
</html>