<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Lists CW</title>
</head>
<body>
    <h1>Things I need to do</h1>
    <table>
    <p>{% for item in items %}                 <!--- the item part could be peanut it doesnt matter  -->
        <tr>
            {% if item.done %}
            <td><strike>{{ item.name }}</strike></td>
            {% else %}
            <td>{{ item.name }}</td>
            {% endif %}
        <td>
            <a href="/edit/{{item.id}}">      <!-- this will go to edit page-->
                <button>Edit</button>
            </a>
        </td>
        <td>
            <a href="/toggle/{{item.id}}">      <!-- this will go to edit page-->
                <button>toggle</button>
            </a>
        </td>
        <td>
            <a href="/delete/{{item.id}}">      <!-- this will go to edit page-->
                <button>Delete</button>
            </a>
        </td>
        </tr>
        {% empty %}                                     <!-- this display a message when no records found-->
        <tr><td>you have nothing to do</td></tr>
        {% endfor %}
    </table>
    <a href="/add">Add an Item</a>
    </p>
</body>
</html>